.page-header
  = link_to new_user_tienda_path, class: 'btn btn-primary' do
    %span.glyphicon.glyphicon-plus
    =I18n.t(:new_store_user)
  %h1
    =I18n.t(:listing_store_users)
.table-responsive
  %table.table.table-striped.table-bordered.table-hover
    %thead
      %tr
        %th
          =I18n.t(:avatar)
        %th
          =I18n.t(:user_name)
        %th
          =I18n.t(:email)
        %th
          =I18n.t(:name)
        %th
          =I18n.t(:phone)
        %th
          =I18n.t(:store)
        %th
          =I18n.t(:role)
        %th
    %tbody
      - @store.users.each do |user|
        %tr
          %td.text-center= image_tag user.avatar.url || 'building-avatar.gif', class: 'img-circle', height: 50
          %td= user.username
          %td= user.email
          %td= user.name
          %td= user.cellphone
          %td= user.store.name rescue nil
          %td= user.role.name_type rescue nil
          %td
            = link_to edit_user_tienda_path(id: @store.id, us: user.id) do
              %i.fa.fa-pencil
              =I18n.t(:edit)
            &nbsp;
            &nbsp;
            = link_to user_tienda_path(id: @store.id, us: user), data: { confirm: I18n.t(:are_you_sure)}, method: :delete do
              %i.fa.fa-trash
              =I18n.t(:destroy)
