= form_for @file_user, html: { class: "form-horizontal", role: "form" }, id: 'form-file-user' do |f|
  -if @file_user.errors.any?
    .alert.alert-danger.alert-dismissable{role: "alert"}
      %button.close{type: "button", data: {dismiss: "alert"} }
        %span{aria: {hidden: "true"} } &times;
        %span.sr-only Close
      %h4= "#{pluralize(@file_user.errors.count, "error")} prohibited this file_user from being saved:"

      %ul
        - @file_user.errors.full_messages.each do |msg|
          %li= msg

  .form-group
    = f.label I18n.t(:name_file_user), class: 'col-sm-2 control-label'
    .col-sm-4
      = f.file_field :name, class: 'form-control'
  .form-group
    .col-sm-offset-2.col-sm-4
      = f.submit class: 'btn btn-primary'
