.row
  .page-header
    %h1
      =I18n.t(:listing_users)
    .col-sm-2  
      = link_to file_users_import_path, class: 'btn btn-primary' do
        %span.glyphicon.glyphicon-plus
        =I18n.t(:import)
    .col-sm-2    
      = link_to new_file_user_path, class: 'btn btn-default' do
        %span.glyphicon.glyphicon-list-alt
        =I18n.t(:cancel)
.row      
  .table-responsive
    %table.table.table-striped.table-bordered.table-hover#data-table
      %thead
        %tr
          %th.text-center
            =I18n.t(:full_name)
          %th.text-center
            =I18n.t(:email)
          %th.text-center
            =I18n.t(:role)
          %th.text-center
            =I18n.t(:errors)
          %th
      %tbody
        - @users.each do |user|
          %tr
            %td= user[:full_name]
            %td= user[:email]
            %td= user[:role]
            %td= user[:errors]
            %td{class: user[:errors].blank? ? 'valid' : 'invalid' }
              - if user[:errors].empty? 
                %i.fa.fa-check-circle
              - else
                %i.fa.fa-times.circle
