= form_for @banco, html: { class: "form-horizontal", role: "form" , id: 'form-banco'} do |f|
  -if @banco.errors.any?
    .alert.alert-danger.alert-dismissable{role: "alert"}
      %button.close{type: "button", data: {dismiss: "alert"} }
        %span{aria: {hidden: "true"} } &times;
        %span.sr-only Close
      %h4= "#{pluralize(@banco.errors.count, "error")} prohibited this banco from being saved:"

      %ul
        - @banco.errors.full_messages.each do |msg|
          %li= msg

  .form-group
    = f.label I18n.t(:nome), class: 'col-sm-2 control-label'
    .col-sm-10
      = f.text_field :nome, class: 'form-control'
  .form-group
    = f.label I18n.t(:cep), class: 'col-sm-2 control-label'
    .col-sm-10
      = f.number_field :cep, class: 'form-control'
  .form-group
    .col-sm-offset-2.col-sm-10
      = f.submit class: 'btn btn-primary'
