.page-header
  .col-sm-12.title
    %h1
      =I18n.t(:dashboard)
.row.container-dashboard
  .col-sm-4
    .row
      %h2.title.sub-title
        = I18n.t(:total_users)
        = @total_users
    .row
      %h2.title.sub-title
        = I18n.t(:users_role)
      .table-responsive
        %table.table.table-striped.table-bordered.table-hover
          %thead
            %tr
              %th
                =I18n.t(:role)
              %th
                =I18n.t(:quantity)
          %tbody
            - @users_role.each do |user|
              %tr
                %td= user[:role]
                %td= user[:number_users]
  .col-sm-8
    - options = {title: 'Crecimento de Usuários', subtitle: 'Agrupado x Semana', xtitle: 'Semana', ytitle: 'Usuários', stacked: true}
    = column_chart(@series, {**options, theme: 'palette4'})