.loginColumns.animated.fadeInDown
  .row
    .col-md-6.text-center
      %br
      %br
     .col-md-6
      .ibox-content
        %h2
          ¿Esqueciou sua Senha?
        = form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post, class: 'm-t' }) do |f|
          = devise_error_messages!
          .form-group
            = f.email_field :email, autofocus: true, placeholder: 'Correo Electronico', class:'form-control', required: ''
          = f.submit "Recuperar Senha", class: 'btn btn-warning block full-width m-b'
          = render "users/shared/links"

