%nav.navbar-default.navbar-static-side{:role => "navigation"}
  .sidebar-collapse
    %ul#side-menu.nav
      %li.nav-header
        .dropdown.profile-element
          %span
            = image_tag current_user.avatar_image.url || 'avatar-user.jpg', height: 50, class:'img-circle'
          %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
            %span.clear
              %span.block.m-t-xs
                %strong.font-bold
                  = current_user.full_name 
          %ul.dropdown-menu.animated.fadeInRight.m-t-xs
            %li
              = link_to  profile_path do
                =I18n.t(:profile)
            %li.divider
            %li
              = link_to destroy_user_session_path, method: :delete do
                =I18n.t(:close_section)
        .logo-element
          VL
      %li
        = link_to profile_path do
          %i.fa.fa-user
          %span.nav-label
            =I18n.t(:profile)
      - if current_user.role == 'admin'
        %li
          = link_to paneis_path do
            %i.fa.fa-map-marker
            %span.nav-label
              = I18n.t(:dashboard)
        %li
          = link_to users_index_path do
            %i.fa.fa-user
            %span.nav-label
              =I18n.t(:users)
        %li
          = link_to new_file_user_path do
            %i.fa.fa-user
            %span.nav-label
              =I18n.t(:import_users)

 
